.profile-data-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .register-form-profile-data-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .ps-validation-marks{
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            
            .ps-validation-mark1,.ps-validation-mark2,.ps-validation-mark3{
                transition: all .3s;
                height: 4px;
                border-radius: 2px;
                width: 44px;
                background-color: lightgrey;

            }

            .ps-validation-mark1.markActive{
                background-color: red;
            }
            .ps-validation-mark2.markActive{
                background-color: orange;
            }
            .ps-validation-mark3.markActive{
                background-color: green;
            }
        }
    }

    
}

.register-form-profile-data-validation {
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #F2F1F0;
    border-radius: 10px;


    .h5-profile-validation {
        font-size: .9rem;
        margin-bottom: 10px;
    }

    .p-profile-validation.valid{
        color: green !important;
        &::before{
            border-bottom: 3px solid green;
            border-right: 3px solid green;
        }

    }
    .p-profile-validation {
        color: grey;
        margin: 2px 2px 2px 22px;
        position: relative;
        transition: all .3s;

        &::before {
            transition: all .3s;
            content: "";
            display: inline-block;
            transform: rotate(45deg);
            height: 14px;
            width: 8px;
            border-bottom: 3px solid grey;
            border-right: 3px solid grey;
            position: absolute;
            border-radius: 2px;
            translate: -18px;
        }
    }
}